@media (max-width: 768px) {
    .header{
        width: 100%;
        background-color: #a9a9a9;
        padding: 1px;
        height: 500px;
    } ul{
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }.menu-item{
        width: 100%;
        display: block;
       
     }.menu-item-mini{
        width: 100%;
        display: block;
        height: 400px;
        background-color: #ff4500;
    }.item-left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }.item-right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }.menu-item-mini li{
        height: 50px;
        width: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
    }.menu-item-mini li:hover{
        background-color: #111;
        color: #fff;
        cursor: pointer;
    }

}