.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 0;
    margin: 0;
    background-color: #5f9ea0;
   
}

li {
    background-color: #5f9ea0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #808080;
    text-transform: capitalize;
    
}
li:hover{
    background-color: #b2beb5;
}